<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="R" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %r %p [ %t ] %c %L - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="ro.sync.jstest" level="debug"/>
    <Logger name="ro.sync.servlet.RESTAssetLoader" level="debug"/>
    <Logger name="ro.sync.servlet.validation" level="debug"/>
    <Logger name="ro.sync.org.apache.http.impl.execchain.RetryExec" level="debug"/>
    <Logger name="ro.sync.jstest.pages.WebappLoader" level="debug"/>

    <Root level="debug">
      <AppenderRef ref="R"/>
    </Root>
  </Loggers>
</Configuration>